<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125540754926-igkme5roasmvso9dl12iim86vm0gskih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125540754926-igkme5roasmvso9dl12iim86vm0gskih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125540754926-nqp2eibvqrq32r0t2h8qp3l9bhvll2qr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBErjfmeSvyEbsq6GTVzFsnrAFTb0647_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>125540754926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spookyhousestudios.progressbar95</string>
	<key>PROJECT_ID</key>
	<string>shs2firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>shs2firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125540754926:ios:e95393555b8aebee</string>
	<key>DATABASE_URL</key>
	<string>https://shs2firebase.firebaseio.com</string>
</dict>
</plist>